.screenshot {
    border: 1px solid lightgray;
}

.row {
    margin-top: 1px
}
.navbar {
    padding: .5rem 1.5rem;
}

.container-fluid {
    padding: 3rem;
}


.black {
    margin: auto;
}

.black-1 {
    text-align: right;
}