

.screenshot {
    border: 1px solid lightgray;
}

.row {
    margin-top: 1px
}
.navbar {
    padding: .5rem 1.5rem;
}

.container-fluid {
    padding: 3rem;
}

.color {
    background: linear-gradient(to right, hsl(180, 50%, 50%), hsl(300, 50%, 50%));
}

.black {
    margin: auto;
}

.black-1 {
    text-align: right;
}
